@import "tailwindcss";

@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("/fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

.vazir-font {
  font-family: "Vazir", sans-serif;
}